# install the base requirements
-r requirements.txt

# development dependencies
ipykernel>=6.29.5
build>=1.2.2
setuptools>=78.1.0

# typying/stubs
types-setuptools>=78.1.0
pandas-stubs>=2.2.3

# install the local package in editable mode
-e .